%nav.navbar-expand-lg.navbar-dark.bg-primary
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path} Module Selection
    %ul.nav.navbar-nav
      %li
        %a{href: "#"} My Modules
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.glyphicon.glyphicon-user
          Account
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{href: edit_user_registration_path} Edit Profile
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete
          %li
            %a{href: new_user_registration_path} Sign Up
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: new_user_session_path}
          %span.glyphicon.glyphicon-log-in
          Log In
      %form.navbar-form.navbar-left
        %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder: "Search", type: "search"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{type: "submit"} Search Modules
